.blurIcon {
  position: absolute;
  bottom: -484px;
  left: calc(50% - 440px);
  border-radius: 9999px;
  width: 880px;
  height: 880px;
  object-fit: cover;
}
.playIcon {
  width: 20px;
  position: relative;
  height: 20px;
}
.control {
  border-radius: 99999px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
.left {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.controls {
  position: absolute;
  top: 412px;
  left: 24px;
  width: 755px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.stream {
  width: 616px;
  position: relative;
  border-radius: 16px;
  height: 362px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url('./assets/stream.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.title {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 800;
}
.line {
  align-self: stretch;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
  height: 1px;
}
.imageIcon {
  width: 32px;
  position: relative;
  border-radius: 50%;
  height: 32px;
  object-fit: cover;
}
.tioorochinho {
  position: relative;
}
.b {
  position: relative;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.32);
}
.userIcon {
  width: 16px;
  position: relative;
  height: 16px;
}
.kAssistindo {
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
}
.watching {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  font-size: 14px;
  color: #0bc5ea;
}
.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.seguir {
  position: relative;
  line-height: 150%;
  font-weight: 800;
}
.button {
  border-radius: 9999px;
  background-color: rgba(11, 197, 234, 0.16);
  border: 1px solid rgba(11, 197, 234, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 12px;
}
.compartilhar {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.button1 {
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 12px;
  color: rgba(255, 255, 255, 0.8);
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  font-size: 14px;
  color: #0bc5ea;
}
.about {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.info {
  width: 616px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
.tioorochi {
  position: absolute;
  top: calc(50% - 248px);
  left: 1241px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  opacity: 0.16;
}
.stream1 {
  width: 803px;
  position: relative;
  border-radius: 16px;
  height: 472px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url('./assets/stream.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button2 {
  border-radius: 9999px;
  background-color: rgba(11, 197, 234, 0.16);
  border: 1px solid rgba(11, 197, 234, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 12px;
  cursor: pointer;
}
.info1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
.caztv {
  position: absolute;
  top: calc(50% - 306px);
  left: 318px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.alanzoka {
  position: absolute;
  top: calc(50% - 248px);
  left: -418px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  opacity: 0.16;
}
.arrowrightIcon {
  width: 32px;
  position: relative;
  height: 32px;
}
.next {
  position: absolute;
  top: 348px;
  left: 1276px;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  cursor: pointer;
}
.arrowrightIcon1 {
  width: 32px;
  position: relative;
  height: 32px;
  transform:  rotate(180deg);
}
.before {
  position: absolute;
  top: 412px;
  left: 164px;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  transform:  rotate(-180deg);
  transform-origin: 0 0;
}
.tab {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  gap: 16px;
  cursor: pointer;
}
.tab1 {
  border-bottom: 1px solid rgba(11, 197, 234, 0.32);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  gap: 16px;
  color: #0bc5ea;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.videocameraIcon {
  width: 14px;
  position: relative;
  height: 14px;
}
.tab2 {
  border-radius: 8px;
  background-color: rgba(11, 197, 234, 0.16);
  border: 1px solid rgba(11, 197, 234, 0.32);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  gap: 12px;
  font-size: 14px;
  color: #0bc5ea;
}
.olDiegoParent {
  position: absolute;
  top: 32px;
  left: calc(50% - 401px);
  width: 803px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.48);
}
.explorarCaztv {
  width: 100%;
  position: relative;
  background-color: #080808;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: 28px;
  color: #fff;
  font-family: 'Plus Jakarta Sans';
}

